{% extends 'layout/layout.html.twig' %}
{% block body %}
<p>
    Bonjour {{ app.user.username }}
</p>
{% if nouveau_utilsateur is defined %}
<h2>
L'utilisateur {{ nouveau_utilsateur }} à bien été ajouté.
</h2>
{% endif %}


{% endblock %}